.event {
    &__wrapper {
        flex: 1 1 auto;
        padding: 16px;
    }

    &__content {
        max-width: 1016px;
        margin: auto;
        display: flex;
    }

    &__main {
        flex: 2 0 0%;
    }

    &__sidebar {
        flex: 1 0 0%;
    }
}

.event-section {
    margin: 16px 8px;
    padding: 16px;
    background: #fff;

    &--map {
        padding: 0;
    }

    &__title {
        padding: 0;
        margin: 0 0 8px;
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        text-transform: uppercase;
    }

    &__loader {
        margin: 24px auto;
        width: 48px;
        height: 48px;
        display: block;
    }

    &__text {
        padding: 0;
        margin: 0;
    }
}

.event-map {
    height: 250px;
}

.event-participants {
    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__more {
        display: block;
        margin-top: 8px;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.event-participant {
    width: 50%;
    display: block;
    margin: 8px 0;

    &__link {
        text-decoration: none;
        font-weight: normal;
        color: rgba(0, 0, 0, 0.87);
    }

    &__avatar {
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }
}

@media screen and (max-width: 900px){
    .event__content {
        display: block;
    }

    .event-participant {
        width: 25%;
    }
}

@media screen and (max-width: 600px) {
    .event-participant {
        width: 50%;
    }
}