.drawer-login {
    &__action {
        display: block;
    }

    &__link {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &__link-icon {
        margin-right: 8px;
        vertical-align: middle;
    }
}