.drawer-profile {
    display: flex;

    &__links {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
    }

    &__name {
        text-decoration: none;
        color: #fff;
    }

    &__logout {
        text-decoration: none;
        font-weight: 300;
    }

    &__avatar {
        margin-right: 16px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }
}
