.login {
    width: 500px;

    &__form {
        margin: 16px 0 0;
        display: flex;
        align-items: center;
    }

    &__header {
        padding: 32px;
    }

    &__content {
        padding: 0 32px;
        width: auto;
    }

    &__actions {
        padding: 16px;
        text-align: right;
    }

    &__icon {
        margin-right: 8px;

        &:not(:first-child) {
            margin-left: 16px;
        }
    }

    &__link {
        text-decoration: none;
        font-weight: normal;

        &:hover {
            text-decoration: underline;
        }
    }
}