.icon-textfield {
    display: flex;
    align-items: center;
    flex: 1 1 0%;

    &__icon {
        margin-right: 8px;
    }

    &__textfield,
    & > .geosuggest {
        width: auto;
        flex: 1;
    }
}
