.finalResultsContainer {
  max-width: 800px;
  background-color: white;
  margin: auto;
}

.finalContainer {
  width: 300px !important;
}

.placeHeader {
  vertical-align: middle;
  margin: 12px 0px;
  line-height: 20px;
  width: 70px !important;
  color: rgba(0,0,0,.54);
}
