.drawer-profile {
    display: flex;

    &__links {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
    }

    &__name {
        text-decoration: none;
        color: #fff;
    }

    &__logout {
        text-decoration: none;
        font-weight: 300;

        &:hover {
            text-decoration: underline;
        }
    }

    &__logout-icon {
        margin-right: 4px;
        font-size: 16px;
        line-height: 20px;
        vertical-align: top;
    }

    &__avatar {
        margin-right: 16px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }
}
