.register {
    &__form {
        margin: 16px 0 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &__icon {
        margin-right: 8px;
    }

    &__textfield {
        width: auto;
        flex: 1;
    }

    &__content {
        padding: 0 32px;
    }

    &__input {
        display: flex;
        align-items: center;
        flex: 1 1 auto;

        @media (min-width: 570px) {
            &:first-child {
                margin-right: 16px;
            }
        }
    }

    &__link {
        text-decoration: none;
        font-weight: normal;

        &:hover {
            text-decoration: underline;
        }
    }
}
